<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Article/adminlist">Article</a></li>
    <li class="breadcrumb-item active">Add</li>
  </ol>

  <h1 class="display-5">Add Article</h1>
  <form id="addForm" method="post" action="/Article/create" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />

    <div class="form-row">
      <div class="col-md-4">
        <label><b>title</b></label>
        <input type="text" name="title" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>journal</b></label>
        <input type="text" name="journal" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>year</b></label>
        <input type="text" name="year" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>study_phase</b></label>
        <input type="text" name="study_phase" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>stage</b></label>
        <input type="text" name="stage" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>molecular_classification</b></label>
        <input type="text" name="molecular_classification" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>subpopulation</b></label>
        <input type="text" name="subpopulation" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>exp_type</b></label>
        <input type="text" name="exp_type" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>molecule_name</b></label>
        <input type="text" name="molecule_name" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>setting</b></label>
        <input type="text" name="setting" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>comp_type</b></label>
        <input type="text" name="comp_type" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>molecule_name_2</b></label>
        <input type="text" name="molecule_name_2" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>settting_2</b></label>
        <input type="text" name="settting_2" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mPFS_exp</b></label>
        <input type="text" name="mPFS_exp" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mPFS_comp</b></label>
        <input type="text" name="mPFS_comp" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mPFS_HR</b></label>
        <input type="text" name="mPFS_HR" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mPFS_significance</b></label>
        <input type="text" name="mPFS_significance" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mOS_exp</b></label>
        <input type="text" name="mOS_exp" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mOS_comp</b></label>
        <input type="text" name="mOS_comp" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mOS_HR</b></label>
        <input type="text" name="mOS_HR" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>mOS_significance</b></label>
        <input type="text" name="mOS_significance" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>G3_4_AE_exp</b></label>
        <input type="text" name="G3_4_AE_exp" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>G3_4_AE_comp</b></label>
        <input type="text" name="G3_4_AE_comp" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>conclusion</b></label>
        <input type="text" name="conclusion" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>comment</b></label>
        <input type="text" name="comment" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label><b>pdf</b></label><br/>
        <input type="file" name="file"/>
      </div>
    </div><br/>


    <hr>
    <button type="submit" class="btn btn-primary" value="Add new Article">Add new Article</button>
  </form>
</div>

